<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ studentNumber }}
    </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="toggleDarkMode()">
           <ion-icon slot="icon-only" [name]="isDarkMode ? 'sunny' : 'moon'"></ion-icon>
  </ion-button>
  
  <ion-button routerLink="/favourites">
    <ion-icon slot="icon-only" name="heart"></ion-icon>
  </ion-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar 
    placeholder="Movie Name" 
    (ionInput)="onSearch($event)">
  </ion-searchbar>

  <ion-list>
    <ion-list-header>
      <ion-label>Movies</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let movie of trendingMovies" [routerLink]="['/movie-details', movie.id]">
      <ion-thumbnail slot="start">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>