<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ person?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home"><ion-icon name="home"></ion-icon></ion-button>
      <ion-button routerLink="/favourites"><ion-icon name="heart"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="person">
    <img *ngIf="person.profile_path; else noImage" 
         [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path" 
         style="width: 100%; max-width: 300px; display: block; border-radius: 8px; margin-bottom: 20px;">
    <ng-template #noImage><p>No image</p></ng-template>

    <p *ngIf="person.birthday"><strong>DOB:</strong> {{ person.birthday }}</p>
    <p *ngIf="person.deathday"><strong>DOD:</strong> {{ person.deathday }}</p>
    <p *ngIf="person.also_known_as?.length"><strong>AKA:</strong> {{ person.also_known_as.join(', ') }}</p>

    <h3 style="margin-top: 20px; font-weight: bold;">Description</h3>
    <p style="line-height: 1.5; color: #444;">{{ person.biography }}</p>

    <h3 style="margin-top: 25px; font-weight: bold;">Other Movies</h3>
    <ion-list>
      <ion-item *ngFor="let movie of movieCredits | slice:0:10" [routerLink]="['/movie-details', movie.id]">
        <ion-thumbnail slot="start">
          <img [src]="'https://image.tmdb.org/t/p/w92' + movie.poster_path" 
               onerror="this.src='https://via.placeholder.com/92x138?text=No+Poster'"/>
        </ion-thumbnail>
        <ion-label>
          <h2 style="font-weight: 600;">{{ movie.title }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>